* {
    margin: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


header{
    
    background-color: rgb(37, 37, 36);
    color: white;
    height: 40px;
    font-size: 36px;
    text-align: center;
    font-variant: small-caps;
}


nav {
    background-color: rgb(32, 32, 32);
    color: whitesmoke;
    font-size: x-large;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    /* position: sticky;
    top:1px; */

}

.div_left{
    width:25%;
    padding:10px;
}

.div_right{

    width: 70%;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* we use flex and flex wrap so that items can wrap evenly in navbar */
    

}

.nav-ul li {
    list-style: none;
    display: block;
    padding: 10px;
    

    /* display inline block garya since it can be used to provide padding up and down */
}

.nav-ul li a {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;

}

.nav-ul li a:hover {
    color: bisque;
   background-color: indianred;
   padding: 10px;
   border-radius: 7%;
}


.dropdown {
    padding: 5px;
    width: 200px;
    background-color: gray;

    position: absolute;
    /* display: block; */
    top: 61px;
    left: 610px;
    display: none;



    /* here bullet default adding hatuna ko lagi padding 0 garne ho */
    /* here  display:block garyoum bhane sabai tala aucha */
    /* here display: flex ,flex-raple k garyo bhane width badnu pachi item tala jaryo; */
    /* here normal conditions ma display:none hunu paryo */

}


/* here yedi hamile list ma hover garyo bhane dropwdown bhane class display block hunu paryo */
.nav-ul li:hover .dropdown {

    display: block;

}

.dropdown li a:hover{
    background-color: rgb(101,101,101);
}


/* dropdown bitra ko yo li lai tai hover garyo bhaen sub-dropdowwn show hunu parcha */

.sub-dropdown{
    background-color: lightblue;
    color:rgb(157,129,101);
    display: none;
    position: absolute;
    left:100%;
    top:0%;
    padding: 10px;
    width:100%;
}

.extra{
    width:70%;
}

.dropdown li:hover .sub-dropdown{
    display: block;
}
/* 
.dropdown li:hover .sub-dropdown{

    display: block;
} */
main{
    width: 100%;
    background-color: rgb(182,188,210);
    height: 650px;
    display: flex;
    flex-wrap: wrap;
}

.body_left{
    width:20%;
    background-color: rgb(171,203,176);
    height: 650px;

}

.body_right{
    width:80%;
    background-color:rgb(220,203,191);
    height: 650px;

}

.body_left_top ul li{
    
}
